h1 {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}

#guesses {
    font-size: 20px;
    
}

#wins {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

#losses {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

#guesses-left {
    font-size: 20px;
    padding: 10px;
}

#guesses-sofar {
    font-size: 20px;
    padding: 10px;
}